// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Barlow Condensed', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100&display=swap');
$body-font-family: 'Public Sans', sans-serif !important;