// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
// @import 'bootstrap/scss/bootstrap';

.admin-input .v-input__append-inner{
    margin-top: auto !important;
    margin-bottom: auto !important;
}
.admin-input fieldset {
    border: 2px solid !important;
    // color: #494949 !important;
}